html{
    font-size: 62.5%;
}


body{
    background-color: #f5f5f5;
    font-family:"Open Sans", sans-serif;
}

.main-container{
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;    
}
.container{
    display: block;
    float: left;
    padding: 20px  0;
    max-width: 98%;
    width: 98%;
    margin: 0 1%;
    max-width: 1298px;
}


header{
    background:#fff;
    display: block;
    float: left;

    width: 100%;
    border-bottom: 1px solid #254159;
}

h1{
    font-size: 2.4rem;
    color:#254159;
    margin-bottom: 20px;
}

h2{
    font-size: 2rem;
    color:#254159;
    margin-bottom: 20px;
}

h3{
    font-size: 1.8rem;
    color:#254159;
    margin-bottom: 20px;
}

h4{
    font-size: 1.6rem;
    color:#254159;
    margin-bottom: 20px;
}

h5{
    font-size: 1.4rem;
    color:#254159;
    margin-bottom: 20px;
}

h6{
    font-size: 1.2rem;
    color:#254159;
    margin-bottom: 20px;
}

p{
    margin-bottom: 10px;
    line-height: 1.4;
    color: #333;
}

img{
    max-width: 100%;
    height: auto;
}

section{
    background-color: #fff;
    display: block;
    width: 100%;
    
    float: left;
    font-size: 1.5rem;
    color:#254159;
}

section nav{
    display: block;
    float: left;
    width: 30% ;
    
}

nav li{
    background-color: #EFEFEF;
    margin: 1px 20px 1px 0;
    padding: 10px;
    list-style-type: NONE;
}

nav li:hover{
    background-color: #dfdfdf;
    
}

nav a{
    text-decoration: none;
    color: #254159;
}

nav a:hover{
    color: #3a80bd;
}

section article{
    display: block;
    float: left;
    width: 70% ;
    
    
}


.cog-abuse, cog-wrapper{
    visibility: hidden !important; 
    
}

.cog-branding__powered{
    visibility: hidden !important; 
}


footer {
    background-color: #254159;
    
    display: block;
    float: left;
    margin: 0;
    width: 100vw;
    height: auto;
    width: 100%;
}

footer p {
    color: #ffffff;
    font-size: 1.4rem;
    
}

#tenho-interesse{
    padding: 20px ;
    padding-right: 0px;
    background-color:#dde3e9;
    overflow: hidden;
}
.cognito{
    
    display: block !important;
    float: left !important;
    width: 600px;
    height: 450px;
    overflow: hidden;
    
}

.cog-form__content{
    background-color:#dde3e9 !important;
}

#banner{
    background-image: url(../img/banner.jpg) ;
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;background-position: center;
    background-size: cover; 
}

.legenda{
    padding: 20px ;
    margin-right: 200px;
    border: 5px;
    background-color: rgba(255, 255, 255, .6);
    width: 20vw;
    display: block;
    float: right;
    
    margin-top: 10vh;
    margin-right: -20vh;
}

.legenda h4,
.legenda h5{
    color: #254159;
    font-size: 100%;
}

.button-cta{
    box-sizing: 10px;
    display:inline;
    background-color: orangered;
    color: #fff;
    font-size: 2rem;
    box-shadow: 1px 1px 1px black;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 15px;
    width: 10vw;
    float:right;
    text-align: center;
    margin: 50vh auto;
    margin-right: 250px;
}

#saiba-mais{
    width: 100%;
    background-color: #dde3e9;
    
}

#saiba-mais p,
#sauba-mais img{
    width: 50%;
    display: block;
    float: right;
    margin-right: 50px;
}

dt{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    
}

dd{
    margin-left: 20px;
}

dl{
    margin: 20px 0;
    font-size: 1.4rem;
}

section{
    background-color: #b0bac4;
}